---
id: "internal.TestResult"
title: "Interface: TestResult"
sidebar_label: "TestResult"
custom_edit_url: null
---

[_internal](../modules/internal.md).TestResult

## Properties

### duration

• **duration**: `number`

#### Defined in

models.ts:826

___

### errors

• **errors**: `string`[]

#### Defined in

models.ts:827

___

### status

• **status**: ``"fail"`` \| ``"pass"``

#### Defined in

models.ts:828

___

### testPath

• **testPath**: `string`[]

#### Defined in

models.ts:829
